.navbar{
    .navbar-light .navbar-nav .nav-link{
        font-weight: 900px;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 14px;
        color: #26313c;
     }
     .navbar-brand img{
        width: 100%;
        display: inline-block;
    }
}
   
    




